* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f9;
  color: #333;
}

body {
  padding: 20px;
}

button {
  padding: 15px;
  font-family: inherit;
  color: #fff;
  background-color: #428bfa;
  background-image: linear-gradient(to right, #37a1f6, #428bfa);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.user-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.user {
  margin: 10px;
  padding: 20px;
  width: 350px;
  display: flex;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: 0.3s;
}

.user:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.user__photo {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.user__description {
  width: calc(100% - 60px);
}

.user__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user__avatar--empty {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: #fff;
  text-align: center;
  background-color: #b1c8d6;
}

.user__field {
  padding: 2px 0;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.user__field-title {
  width: 42%;
  font-size: 12px;
  color: #b2c8d6;
  text-transform: uppercase;
}
